html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 15px !important;
}
::-webkit-scrollbar-track{
    background: #eaebec !important;
}
::-webkit-scrollbar-thumb{
    background: rgb(255,92,92);
    background: linear-gradient(0deg, rgba(255,92,92,1) 0%, rgba(101,18,18,1) 100%);
    border-radius: 10px;
}
/* ********************************
            HERO SEC CSS
******************************** */
#hero-icn{
    display: block;
    margin: auto 0 auto auto;
}
/* ********************************
            END
******************************** */


/* ********************************
            NAVBAR CSS
******************************** */

.navbar{
    position: sticky !important;
    top: 0;
    width: 100%;
    background-color: #333;
}
.navbar-nav{
    display: flex !important;
    font-weight: 500;
    margin: auto 0 auto auto !important;
}
.navbar-nav .btn{
    color: white;
    font-weight: 500;
    border-radius: 12px;
}
.bt1{
    transition: all;
    transition-duration: .5s;
}
.bt1:hover{
    background-color: black !important;
}
#mpo{
    display: none;
}
#bo{
    display: none;
}
/* ********************************
            END
******************************** */

.modal-content{
    background-color: transparent !important;
    border: none !important;
}
.modal-header{
    background-color: transparent !important;
}
.modal-body{
    background-color: rgb(255, 255, 255);
}

#f1{
    display: block !important;
}
#f2{
    display: none !important;
}

@media only screen and (max-width: 991px){
    #home-text>h1{
        font-size: 22px;
    }
    .carousel-inner{
        width: 500px;
        margin-top: 80px;
        margin-bottom: -59px;
        margin-left: 50px;
    }
    
    .image-section>.row>.col-md-4>img{
        height: 600px;

    }
    #il{
        width: 100%;
        margin: auto 0 auto;
    
        && .row{
            width :900px
        }

    }

    .dropdown-menu{
        left: -50px ;
    }

    #mpo{
        display: block !important;
    }
    #bo{
        display: block !important;
    }
    .navbar-nav{
        display: block !important;
        margin: 0 !important;
    }
    .offcanvas{
        background-color: transparent !important;
        backdrop-filter: blur(0px) !important;
    }
    .offcanvas-body{
        background-color: rgb(255, 255, 255) !important;
        
    }
    .offcanvas-header{
        background-color: rgb(255, 255, 255) !important;
        color: rgb(61, 61, 61) !important;
        font-weight: bolder;
    }
    .offcanvas-title{
        font-size: 40px;
        color: #535353;
        margin-bottom: 10px;
    }
    .nav-link{
        color: rgb(0, 0, 0) !important;
        border-bottom: 1px solid #212529;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .offcanvas{
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    .offcanvas-header,
    .offcanvas-body,
    .offcanvas-footer{
        padding: 20px;
    }
    .hb{
        outline: none !important;
        border: none !important;
    }
}

@media only screen and (max-width: 450px){
    #home-text>h1{
        font-size: 18px;
    }
    
  .col-md-8{
    margin-top:10px !important;
  }
    .carousel-inner{
        display: none;
    }
    .dropdown-menu{
        left: -100px;
    }
    #il{
        display: none !important;
    }
    #f1{
        display: none !important;
    }
    #f2{
        display: block !important;
    }
     .cd {
        height: auto !important;
        margin: auto !important;
        margin-bottom: 10px !important;
    } 
    #hero-sec{
        display: none !important;
    }
    #mpo{
        display: block !important;
    }
    #bo{
        display: block !important;
    }
    .navbar-nav{
        display: block !important;
        margin: 0 !important;
    }
    .offcanvas-body{
        background-color: rgb(255, 255, 255) !important;
        
    }
    .offcanvas-header{
        background-color: rgb(255, 255, 255) !important;
        color: rgb(61, 61, 61) !important;
        font-weight: bolder;
    }
    .offcanvas-title{
        font-size: 40px;
        color: #535353;
        margin-bottom: 10px;
    }
    .nav-link{
        color: rgb(0, 0, 0) !important;
        border-bottom: 1px solid #212529;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .offcanvas{
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 650px;
    }
    .offcanvas-header,
    .offcanvas-body,
    .offcanvas-footer{
        padding: 20px;
    }
    .hb{
        outline: none !important;
        border: none !important;
    }
}
#button{
    text-decoration: none !important;
    color: white !important;
}